label{
    color:aliceblue;
    font-weight: bold;
    font-size: 25px;
}
label::after{
    content:"*";
    color:crimson;
}
label:first-of-type::before{
    content: "🙎";

}
label:last-of-type::before{
    content: "🔒"
}
button{
    background-color: chocolate;
    padding: 10px 30px;
}